doctype html
html(lang="en")
  head
    title= "Es6 workshop"

  body
    div#fisrtDiv
    h1 Jade - node template engine
    script(type='type/javascript', src='https://raw.githubusercontent.com/Stuk/require1k/master/require1k.min.js')
    script(type='text/javascript', src='./scripts/all.js')
